<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <title>Find a Toilet</title>
        
        <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet">
        <link href="css/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link href="css/freelancer.min.css" rel="stylesheet">
        <link href="css/headerCSS.css" rel="stylesheet">
        <link rel="stylesheet" href="css/animations.css">

        <script async defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6_qPtoPN9MUc9u6NVmb4ho2yi9aMWaMA&callback=initMap" type="text/javascript"></script>
        <script src="js/ownjs.js"></script>
        
        <link href="/static/css/main.6c635e2b.css" rel="stylesheet">
    </head>
    <body id="page-top">
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div>
            <div id="root"
            ></div>
        </div>
        <footer class="footer text-center">
            <h4 class="text-uppercase mb-4">Over Find me a Toilet</h4>
            <h5 class="lead mb-0">Dringend op zoek naar een toilet? Gebruik Find a toilet!</h5>
        </footer>
        
        <script src="css/jquery/jquery.min.js"></script>
        <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="css/jquery-easing/jquery.easing.min.js"></script>
        <script src="css/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="js/freelancer.min.js"></script>
        <script src="js/ownjs.js"></script>
        <script type="text/javascript" src="/static/js/main.2d3cf085.js"></script>
    </body>
</html>